<html>
    <head></head>
    <body>
      <h1>Szczegóły użytkownika</h1>
        <table>
            <thead>
               <td>Id</td>
               <td>Username</td>
               <td>Password</td>
               <td>Admin</td>
            </thead>
               <tr>
                  <td>{{user[0]}}</td>
                  <td>{{user[1]}}</td>
                  <td>{{user[2]}}</td>
                  <td>{{user[3]}}</td>
               </tr>
         </table>
         <form action="/super_secret_url_unavailable_for_mere_mortals">
            <input type='submit' value="Widok użytkowników"> 
        </form>
    </body>
</html>