<h2>Register</h2>
<!-- Wyświetlanie bledów z serwera jeżeli lista nie jest pusta-->
<div *ngIf="serverErrors && serverErrors.length > 0" >
    <div *ngFor="let err of serverErrors">
        {{err}}
    </div>
</div>

<!-- tworzenie formularza, do pola formGroup należy przypisać formularz, co umożliwia przekazywanie danych z widoku do obiektu formularza z komponentu -->
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
        <label for="user_name">Username</label>
        <input type="text" formControlName="user_name" />
        <!-- Sprawdzenie czy nie wystąpiły błedy -->
        <div *ngIf="submitted && formControls['user_name'].errors" class="invalid-feedback">
            <!-- Wyświetlenie błędów zwróconych przez walidator-->
            <div *ngIf="formControls['user_name'].errors['required']">Username is required</div>
            <div *ngIf="formControls['user_name'].errors['minlength']">Username must be at least 3 characters</div>
        </div>
    </div>
    <div class="form-group">
        <label for="user_password">Password</label>
        <input type="password" formControlName="user_password"/>
        <!-- Sprawdzenie czy nie wystąpiły błedy -->
        <div *ngIf="submitted && formControls['user_password'].errors" class="invalid-feedback">
            <!-- Wyświetlenie błędów zwróconych przez walidator-->
            <div *ngIf="formControls['user_password'].errors['required']">Password is required</div>
            <div *ngIf="formControls['user_password'].errors['minlength']">Password must be at least 3 characters</div>
        </div>
    </div>
    <div class="form-group">
        <!-- Angular wprowadza wiele dodatkowych pol jak i modyfikuje pola htmlowe - tak aby był do nich dostęp za pomocą databindingu -->
        <button [disabled]="loading">Register</button>
        <!-- Przejście pod login -->
        <a routerLink="/login">Cancel</a>
    </div>
</form>
